* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    font-family: Helvetica, sans-serif;
}

.tool-selection {
    position: absolute;
    right: 32px;
    top: 32px;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 34.5px;
    align-items: center;
}

li {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0px 8px;
    transition: all 100ms;
    cursor: move;
}

li:hover {
    background-color: rgb(245, 197, 197);
}

li:active {
    background-color: rgb(255, 134, 134);
}

.spacer {
    content: "";
    margin: 0 12px;
    padding: 0;
    height: 75%;
    width: 1px;
    background-color: grey;
}

#new-operator {
    cursor: pointer;
}